<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <header>
      <mat-toolbar color="primary" class="flex justify-center">
        <span class="w-full max-w-5xl flex items-center justify-between gap-20">
          <h1>Delicious recipes</h1>
  
          <form class="font-serif text-base flex w-full">
            <input
              type="search"
              class="py-2 px-7 rounded-l-3xl outline-none text-black w-full"
              placeholder="Busque aqui a sua receita favorita"
            />
            <button type="submit" class="rounded-r-3xl bg-pink-600 py-2 px-7">
              <i data-feather="search" class="text-gray-900" width="20" height="20"></i>
            </button>
          </form>
  
          <button class="bg-white p-2 rounded-full"  mat-button [matMenuTriggerFor]="menu">
            <i data-feather="user" class="text-gray-900" width="24" height="24"></i>
          </button>
          <mat-menu #menu="matMenu">
            <ng-container *ngIf="!cookieService.check('authToken')">
              <a href="/signin" mat-menu-item>Entrar</a>
              <a href="/signup" mat-menu-item>Cadastrar</a>
            </ng-container>
            <ng-container *ngIf="cookieService.check('authToken')">
              <a href="/my-recipes" mat-menu-item>Minhas receitas</a>
              <a href="#" mat-menu-item>Sair</a>
            </ng-container>
          </mat-menu>        
        </span>
      </mat-toolbar>
  </header>
  
  <main class="flex justify-center">
    <section class="w-full max-w-5xl">    
      <mat-card>
        <mat-card-content>
          <h3>Receitas</h3>
          <mat-grid-list cols="3" rowHeight="200px" >
            <a href="/signin">
              <mat-grid-tile>
                <mat-card>
                  <img mat-card-image src="https://picsum.photos/330/96" alt="Delicious Recipe">
                  <mat-card-content>
                    <h4>{{recipe.name}}</h4>
                    <p>{{recipe.description}}</p>
                  </mat-card-content>
                </mat-card>
              </mat-grid-tile>
            </a>
          </mat-grid-list>
        </mat-card-content>
      </mat-card>
    </section>
  </main>
  
</body>
</html>